* {
  margin: 0;
  padding: 0;
  font-family: Assistant, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* Header and Nav Bar CSS */

header {
  display: flex;
  background-color: white;
  width: 100%;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #cdbebe;
}
.myntra_home {
  height: 45px;
}
.logo_container {
  margin-left: 4%;
}
.action_bar {
  margin-right: 4%;
}
.nav_bar {
  display: flex;
  min-width: 500px;
  justify-content: space-evenly;
}

.nav_bar a {
  font-size: 14px;
  letter-spacing: 0.3px;
  color: #282c3f;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  padding: 30px 0;
  border-bottom: 2px solid transparent;
}

.nav_bar a:hover {
  border-bottom: 2px solid #f54e77;
}

.nav_bar a sup {
  color: #ff3f6c;
  font-size: 10px;
}

.search_bar {
  height: 40px;
  min-width: 400px;
  display: flex;
  align-items: center;
}

.search_icon {
  height: 20px;
  padding: 10px;
  box-sizing: content-box;
  background-color: #f5f5f6;
  color: #282c3f;
  font-weight: 300;
  border-radius: 5px 0 0 5px;
}
.search_input {
  background-color: #f5f5f6;
  color: #696e79;
  flex-grow: 1;
  height: 40px;
  border: 0;
  border-radius: 0 5px 5px 0;
}
.action_bar {
  display: flex;
  min-width: 200px;
  width: 30%;
  justify-content: space-evenly;
}

.action_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Main CSS */

.banner_container {
  margin: 40px 0;
}
.banner_image {
  width: 100%;
}
.category_heading {
  font-weight: 700;
  color: #3e4152;
  letter-spacing: 0.15em;
  font-size: 1.8em;
  max-height: 5em;
  font-weight: 700;
}
.category_items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.sale_item {
  width: 250px;
}
